@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input[type="checkbox"]:checked {
  @apply !bg-primary-blue !border-primary-blue;
}

input[type="radio"]:checked {
  @apply !bg-white !border-primary-blue;
}

input::before {
  @apply !opacity-0;
}

button[role="combobox"] span.absolute {
  @apply pt-0 pl-3;
}

svg.star-svg {
  display: inline;
}

.custom-tooltip {
  background: #f4f4f4;
  border: 1px solid #d4d4d4;
  padding: 10px;
  color: black;
}

.custom-tooltip .label {
  font-weight: bold;
}
